<mat-expansion-panel class="panel">
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
        <mat-panel-title>
            {{number}}
          </mat-panel-title>
          <mat-panel-description>
            {{name}}
          </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div *ngFor="let lesson of lessons,let i = index" >
      <button mat-button (click)="getLinkToLesson(i)"><mat-icon>forward</mat-icon>{{lessonName}}{{lesson.number}} - {{lesson.name}}</button>
    </div>