<div>
    <nav class="bg-breadcrumb">
        <div>
          <div class="col s12">
            <a href="/" class="breadcrumb" style="padding-top:500px"><b>Strona główna</b></a>
            <a href="/writing" class="breadcrumb " style="padding-top:500pxl"><b>Pisanie</b></a>
          </div>
        </div>
    </nav>

    <div class="row grid">
        <div class="row home">
            <h4><b>Lekcja {{lesson.number}}</b></h4>
        
           
              
              <div *ngFor="let text of lesson.text, let i =index">
                <input #box [style.width.px]='width' (keyup)="checkText(box.value,text,i)"  [id]="i" (keyup.enter)="moveOnNext(i,box.value)" autocomplete="off">
                <br/>
                <div layout="row">
                <div  flex *ngFor="let char of text | split,let j=index" [ngStyle]="{'color' : 'red'}">{{char}}</div>
                </div>
              
            </div>
            <div class="btn-position">
              <div>
              <button class="waves-effect waves-ligth btn-small btn-2" (click)="startOrPauze()">{{buttonActionName}}</button>
              <button class="waves-effect waves-ligth btn-small btn-2" (click)="calculatePoints()" >Zakończ</button>
              </div>
              <ng-container *ngIf="done" class="result">
                  Twój wynik to : {{lesson.score}}
              </ng-container>
            </div>
          
        

        
    </div>
