<div>
    <nav class="bg-breadcrumb">
        <div>
          <div class="col s12">
            <a href="/" class="breadcrumb" style="padding-top:500px"><b>Strona główna</b></a>
            <a href="/writing" class="breadcrumb " style="padding-top:500pxl"><b>Pisanie</b></a>
          </div>
        </div>
    </nav>
    <div class="row grid">
        <div class="row home">
          <div class="row home font-title">
            Lekcja {{lesson.number}}
          </div>
              <div *ngFor="let text of lesson.text, let i =index">
                <input #box [style.width.px]='width' [(ngModel)]="typedTexts[i]" [disabled]="blockLesson" maxlength="10" [id]="i" (keyup.enter)="moveOn(i+1)" autocomplete="off">
                <br/>
                <div class="main-text">
                  <div  flex *ngFor="let char of text | split,let j=index" [ngStyle]="{'color' : setTextColor(i,j)}">
                    {{char}}
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-position">
              <h2>{{timerService.displayTime()}}</h2>
              <div>
                <button class=" waves-ligth btn-small btn-2" (click)="startOrPause()">{{buttonActionName}}</button>
              </div>
              <div>
                <button class=" waves-light btn-small btn-2" (click)="reset()">Zresetuj</button>
              </div>
              <div>
                <button class=" waves-ligth btn-small btn-2" (click)="goBack()">Powrót</button>
              </div>
              <div>
                <button class=" waves-ligth btn-small btn-2" (click)="calculatePoints()" [disabled]="!done">Podsumowanie</button>
              </div>
            </div>
            
    </div>
</div>
