<div>
    <nav class="bg-breadcrumb">
        <div>
          <div class="col s12">
            <a href="/" class="breadcrumb" style="padding-top:500px"><b>Strona główna</b></a>
            <a href="/account" class="breadcrumb " style="padding-top:500pxl"><b>Moje konto</b></a>
            <a href="/account/signin" class="breadcrumb " style="padding-top:500px"><b>Logowanie</b></a>
          </div>
        </div>
    </nav>

    <div class="row grid">
        <div class="row home">
            <h3><b> {{title}}</b></h3>
        </div>
        <form 
            class="col s10" 
            #loginForm="ngForm" 
            (ngSubmit)="send()"
            >
                <div class="row">
                    <div class="center">
                        <div class="input-field col s8 center">
                            <i class="material-icons prefix" (click)="clickedIcon">email</i>
                            <input 
                                id="email" 
                                type="email" 
                                [(ngModel)]="model.email"
                                name="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                class="validate"
                                #email="ngModel"
                                required
                                email
                                />
                            <ng-container *ngIf="email.invalid && email.touched">
                                <div class="invalid-data" *ngIf="email.errors?.['required']">
                                    Adres e-mail jest wymagany!
                                </div>
                                <div class="invalid-data" *ngIf="email.errors?.['pattern']">
                                    Adres e-mail jest niepoprawny!
                                </div>
                            </ng-container>
                            <label for="email">Adres e-mail</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <div class="input-field col s8">
                            <i class="material-icons prefix validate" >vpn_key</i>
                            <input 
                                id="password" 
                                type="password" 
                                name="password"
                                [(ngModel)]="model.password"
                                class="validate"
                                [type]="hide ? 'password' : 'text'"
                                minlength="5"
                                #password="ngModel"
                                required
                                />
                            <label for="password">Hasło</label>
                            <ng-container *ngIf="password.invalid && password.touched">
                                <div class="invalid-data" *ngIf="password.errors?.['required']">
                                    Hasło jest wymagane!
                                </div>
                                <div class="invalid-data" *ngIf="password.errors?.['minlength']">
                                    Hasło musi mieć przynajmniej 5 znaków!
                                </div>
                            </ng-container> 
                            <div>   
                                <table style="width:100%;">
                                        <td class="col s7" >
                                            <a routerLink="/account/signin/signup" class="font-signup">Nie masz konta?</a>
                                        </td>
                                        <td class="col s5" >
                                            <a routerLink="/" class="font-forgot-password">Zapomniałeś hasła?</a>    
                                        </td>
                                </table>
                            </div>

                        </div>
                    </div>
                    <button class="btn-visibility" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
        <div class="btn-position">
            <button class="waves-effect waves-ligth btn-small btn-2" type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
            <button class="waves-effect waves-ligth btn-small btn-2" type="reset">Wyczyść</button>
        </div>
        </form>
      </div>
</div>
