.input-text{
  color: var(--color);
}

.input-field input{
  border-bottom: 1px solid var(--color);
  /* box-shadow: 0 1px 0 0 var(--color); */
}

/* label color */
.input-field label {
  color: var(--color-a-active-breadcrumbs);
} 

/* label focus color */
.input-field input[type=text]:focus + label {
  color:  var(--color-input);
}

.input-field input[type=email]:focus + label {
  color:  var(--color-input);
}

.input-field input[type=password]:focus + label {
  color:  var(--color-input);
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid var(--color-input);
  box-shadow: 0 1px 0 0 var(--color-input);
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid var(--color-input);
  box-shadow: 0 1px 0 0 var(--color-input);
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid var(--color-a-active-breadcrumbs);
  box-shadow: 0 1px 0 0 var(--color-a-active-breadcrumbs);
}

/* valid color*/
.input-field input[type=text].valid {
  border-bottom: 1px solid var(--color-valid);
  box-shadow: 0 1px 0 0 var(--color-valid);
}

.input-field input[type=email].valid {
  border-bottom: 1px solid var(--color-valid);
  box-shadow: 0 1px 0 0 var(--color-valid);
}

.input-field input[type=password].valid {
  border-bottom: 1px solid var(--color-valid);
  box-shadow: 0 1px 0 0 var(--color-valid);
}

/* valid color */

.input-field input[type=text].valid:focus ~label {
  color: var(--color-valid);
}

.input-field input[type=email].valid:focus ~label {
  color: var(--color-valid);
}

.input-field input[type=password].valid:focus ~label {
  color: var(--color-valid);
}

.input-field input[type=text].valid:active ~label {
  color: var(--color-valid);
}

.input-field input[type=email].valid:active ~label {
  color: var(--color-valid);
}

.input-field input[type=password].valid:active ~label {
  color: var(--color-valid);
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid var(--color-invalid);
  box-shadow: 0 1px 0 0 var(--color-invalid);
}

.input-field input[type=email].invalid {
  border-bottom: 1px solid var(--color-invalid);
  box-shadow: 0 1px 0 0 var(--color-invalid);
}

.input-field input[type=password].invalid {
  border-bottom: 1px solid var(--color-invalid);
  box-shadow: 0 1px 0 0 var(--color-invalid);
}

.input-field input[type=text].invalid:focus ~label {
  color: var(--color-invalid);
}

.input-field input[type=email].invalid:focus ~label {
  color: var(--color-invalid);
}

.input-field input[type=password].invalid:focus ~label {
  color: var(--color-invalid);
}

/* icon prefix focus color */
.input-field .prefix.active{
  color: var(--color-input);
}


.btn-form {
  margin: 0 auto;
  margin-right:20px;
  width: 200px;
  height: 50px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);    
  background-color: var(--btn-pick-course-background-color);
  color: var(--color);
  font-weight: bold;
  margin-top: 2%;
  border-radius: 5px;
  font-size:15px;
}

.btn-form:hover{
  color: var(--color-a-hover);
  background-color: var(--btn-pick-course-background-color-hover);
  }
  
.btn-visibility{
  background-color: transparent;
}
  
.btn-visibility:hover{
  color:var(--color-input);
}
  
.btn-visibility:active{
  color:var(--color-input);
  background-color: transparent;
}

button:focus{
  background-color: transparent;
}

.tab-label{
  color: var(--color);
  background-color: aliceblue;
}
