.breadcrumb{
    font-size: 20px;
    color: black;
  }
  
  nav a:hover{
    font-size: 20px;
    color: rgb(3, 86, 137);
  }
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }