<div class="bg-color">
  <nav class="breadcrumb-background">
      <div class="col s10">
        <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
        <a href="/writing" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Pisanie</b></a>
      </div>
  </nav>

  <div class="row context-box center">
    <div class="row font-title">
        {{title}}
    </div>

      <button class="btn-writing btn-large" routerLink="/writing/course">
        {{course}}
      </button>

      <button class="btn-writing btn-large" routerLink="/writing/text" >
        {{text}}
      </button>

  </div>
</div>