<div class="bg-color">
    <nav class="breadcrumb-background">
      <div class="">
        <div class="col s12">
          <a
            href="/"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Strona główna</b></a
          >
          <a 
            href="/courses" 
            class="breadcrumb breadcrumb-text"
             style="padding-top:500px">
             <b>Kursy</b>
          </a>
          <a
            href="/courses/reading"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Czytanie</b></a
          >
          <a
            href="/courses/reading/level"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Poziom trudności</b></a
          >
          <a
            href="/courses/reading/level/schultz"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Znajdowanie liczb</b></a
          >
        </div>
      </div>
    </nav>
    <div class="row context-box center">
        <div class="font-title">Rozgrzewka oczu</div>
            <div>
                <canvas #canvas width="800" height="800"></canvas>
            </div>
        </div>
</div>
