<div class="bg-color">
  <nav class="breadcrumb-background">
    <div class="">
      <div class="col s10">
        <a
          href="/"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Strona główna</b></a
        >
        <a
          href="/courses"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Kursy</b></a
        >
        <a
          href="/courses/memorizing"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Zapamiętywanie</b></a
        >
        <a
          (click)="goBack()"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Wybór poziomu</b></a
        >
        <a
          (click)="reset()"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Gra na zapamiętywanie</b></a
        >
      </div>
    </div>
  </nav>

  <div class="row context-box center">
    <div class="font-title">Gra na zapamiętywanie</div>
    <div *ngIf="isPresented" class="number-presentation">
      <div class="number">
        <h2>{{ showNumber() }}</h2>
      </div>
      <div>
        <button
          class="waves-effect waves-ligth btn-small btn-2"
          (click)="incrementIndex()"
        >
          Następne
        </button>
      </div>
    </div>
    <div *ngIf="!isPresented">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div
          class="example-box"
          *ngFor="let number of numbers.shuffledRandomNumbers"
          cdkDrag
        >
          {{ number }}
        </div>
      </div>
      <div class="btn-position">
        <button
          class="waves-effect waves-ligth btn-small btn-2"
          (click)="calculatePoints()"
        >
          Podsumowanie
        </button>
      </div>
    </div>
    <div class="btn-position">
      <button
        class="waves-effect waves-ligth btn-small btn-2"
        (click)="reset()"
      >
        Resetuj
      </button>
      <button
        class="waves-effect waves-ligth btn-small btn-2"
        (click)="goBack()"
      >
        Powrót
      </button>
    </div>
  </div>
</div>
