<div>
  <nav class="breadcrumb-background">
    <div class="">
      <div class="col s12">
        <a
          href="/"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Strona główna</b></a
        >
        <a 
          href="/courses" 
          class="breadcrumb breadcrumb-text"
           style="padding-top:500px">
           <b>Kursy</b>
        </a>
        <a
          href="/courses/reading"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Czytanie</b></a
        >
        <a
          href="/courses/reading/level"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Poziom trudności</b></a
        >
        <a
          href="/courses/reading/level/schultz"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Tablice Schulza</b></a
        >
      </div>
    </div>
  </nav>

  <div class="row context-box center">
    <div class="col s12">
    
    <div class="font-title row">Tablice Schulza</div>
    
    <div class="row">
      <div class="col s12">
      <!-- <div class="col s3"></div> -->
      <div class="center">
        <table style="margin: auto;">
          <tr *ngFor="let tableRow of tableRows; let i = index">
            <td *ngFor="let number of tableRow.column">
              <button mat-button class="btn-large" (click)="checkPoints(number)" *ngIf=!hidden >
                {{ number }}
              </button>
              <button mat-button class="btn-large" *ngIf=hidden></button>
            </td>
          </tr>
        </table>
        <!-- <div class="col s3"></div> -->
      </div>
    </div>
  </div>
    <div class="row">
      <div class="points">Czas: {{timerService.displayTime()}}</div>
      <div class="points">Zdobyte punkty: {{ points }}</div>
    </div>
    
    <div class="row">
      <button class="btn-small btn-schulz" (click)=startOrPause()>{{buttonActionName}}</button>
      <button class="btn-small btn-schulz" (click)=reset()>Zresetuj</button>
      <button class="btn-small btn-schulz" (click)=goBack()>Powrót</button>
      <button class="btn-small btn-schulz" *ngIf=loggedIn() [disabled]=!done>Zapisz wynik</button>
    </div>
  </div>
</div>
</div>