<div>
  <nav class="breadcrumb-background">
    <div class="">
      <div class="col s12">
        <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
      </div>
    </div>
  </nav>
  <div class="context-box center ">
    <div class="home-text">
      <div class="font-title">
        {{title}}
      </div>
      <div class="text-space">
        <a routerLink="/courses/reading">{{title_reading}}</a> {{text_reading}}
      </div>
      <div class="text-space">
        <a routerLink="/courses/writing">{{title_writing}}</a> {{text_writing}}
      </div>
      <div class="text-space">
        <a routerLink="/courses/memorizing">{{title_memorizing}}</a> {{text_memorizing}}
      </div>
    </div>
    <br> 
    <button class="btn-pick-up-course btn-large" routerLink="/courses">{{button_text}}</button>     
  </div>
</div>
