.btn-my-account {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    width:230px; 
    height:230px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);    
    background-color: var(--btn-pick-course-background-color);
    color: var(--color);
    font-weight: bold;
    border-radius: 10px;
    font-size:18px;
    letter-spacing: 1px;
    margin-right: 12px;
}

.btn-hover:hover, .mat-icon:hover{
    color: var(--color-a-hover);
}

.btn-my-account:hover{
    background-color: var(--btn-pick-course-background-color-hover);
}

.mat-icon{
    transform: scale(3);
    color: var(--color); 
    padding-bottom: 42px;
    padding-top:15px;
    
}

/* .wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
} */
