<div>
    <nav class="bg-breadcrumb">
        <div class="">
          <div class="col s10">
            <a href="/" class="breadcrumb " style="padding-top:500px"><b>Strona główna</b></a>
            <a href="/account" class="breadcrumb " style="padding-top:500px"><b>Moje konto</b></a>
          </div>
        </div>
    </nav>
        <div class="row grid">
            <div class="row link">
              <div class="font-title">
                Moje konto
            </div>
              <ul>
                <li> <a routerLink="/account/signin" class="link" *ngIf="!loggedInUser()" > Zaloguj się</a> </li>
                <li> <a routerLink="/account/signin/signup" class="link" *ngIf="!loggedInUser()"> Zarejestruj się </a> </li>
                <li> <a routerLink="/" class="link" *ngIf="loggedInUser()"> Moje wyniki </a></li>
                <li> <a routerLink="/account/editaccount" class="link" *ngIf="loggedInUser()"> Edytuj dane </a> </li>
                <li> <a routerLink="/" class="link" *ngIf="loggedInUser()" (click)="deleteUser()"> Usuń konto </a> </li>   
                <li> <a routerLink="/" class="link" *ngIf="loggedInUser()" (click)="logoutUser()"> Wyloguj się </a> </li>   
              </ul>
            </div>
        </div>
