<div>
    <nav class="bg-breadcrumb">
        <div class="">
          <div class="col s10">
            <a href="/" class="breadcrumb " style="padding-top:500px"><b>Strona główna</b></a>
            <a href="/account" class="breadcrumb " style="padding-top:500px"><b>Moje konto</b></a>
          </div>
        </div>
    </nav>
        <div class="row grid">
            <div class="row link">
                <a routerLink="/account/signin" class="link"> Zaloguj się</a>
                <!-- <a routerLink="/"><h4><b> Edytuj konto </b></h4></a>
                <a routerLink="/"><h4><b> Usuń konto </b></h4></a>
                <a routerLink="/"><h4><b> Moje wyniki </b></h4></a> -->
            </div>
        </div>
