.btn-admin{
    margin: 0 auto;
    margin-left:2%;
    width: auto;
    height: 50px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);    
    background-color: var(--btn-pick-course-background-color);
    color: var(--color);
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
    font-size:15px;
}

.btn-delete{
    margin: 0 auto;
    margin-left:2%;
    width: auto;
    height: 50px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);    
    background-color: var(--btn-delete-bg-color);
    color: var(--color);
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
    font-size:15px;
}

.btn-admin:hover{
    color: var(--color-a-hover);
    background-color: var(--btn-pick-course-background-color-hover);
}

.btn-delete:hover{
    color: var(--color-invalid);
    background-color: var(--color-invalid-bg);
}