<div>
  <nav class="breadcrumb-background">
    <div class="">
      <div class="col s12">
        <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
      </div>
    </div>
  </nav>

  <div class="row context-box">
    <div class="row link">
      <div class="font-title">Lista użytkowników</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row"> {{i}}</th>
            <!-- <th scope="row"> {{ user.idUser }}</th> -->
            <td> {{ user.idUser }} </td>
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                mat-raised-button
                *ngIf="isUserAdmin(i)"
                (click)="takeAdminRole(i)"
                class="btn-admin btn-small"
              >
                Odbierz uprawnienia
              </button>
              <button
                mat-raised-button
                *ngIf="!isUserAdmin(i)"
                (click)="giveAdminRole(i)"
                class="btn-admin btn-small"
              >
                Mianuj administratorem
              </button>
            </td>
            <td>
              <button mat-raised-button class="btn-delete btn-small" (click)="deleteUser(i)">
              <!-- <button mat-raised-button color="warn" (click)="deleteUser(user.idUser)"> -->
                Usuń użytkownika
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
