<div class="bg-color">
    <nav class="breadcrumb-background">
      <div class="">
        <div class="col s12">
          <a
            href="/"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Strona główna</b></a
          >
          <a 
            href="/courses" 
            class="breadcrumb breadcrumb-text"
             style="padding-top:500px">
             <b>Kursy</b>
          </a>
          <a
            href="/courses/reading"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Czytanie</b></a
          >
          <a
            href="/courses/reading/level"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Poziom trudności</b></a
          >
          <a
            href="/courses/reading/level/schultz"
            class="breadcrumb breadcrumb-text"
            style="padding-top: 500px"
            ><b>Znajdowanie liczb</b></a
          >
        </div>
      </div>
    </nav>

    <!-- <div class="row context-box center">
      <div class="col s12">
      
      <div class="font-title row">Tablice Schulza</div>
      
      <div class="row">
        <div class="col s12">
          <div class="center">
            <table style="margin: auto;">
              <tr *ngFor="let tableRow of tableRows; let i = index">
                <td *ngFor="let number of tableRow.column">
                  <button mat-button class="btn-large" (click)="checkPoints(number)" *ngIf=!hidden >
                    {{ number }}
                  </button>
                  <button mat-button class="btn-large" *ngIf=hidden></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="points">Czas: {{timerService.displayTime()}}</div>
        <div class="points">Zdobyte punkty: {{ points }}</div>
      </div> -->


    <div class="row context-box center">
      <div class="col s12">
        
        <div class="font-title">Znajdowanie liczb</div>
        
        <div class="row">
          <div class="col s12">
            <div class="center">
              <table style="margin:auto">
                <tr *ngFor="let row of table; let i = index">
                  <td *ngFor="let number of row.column">
                    <button mat-button class="btn-large" (click)="checkPoints(number)" *ngIf=!hidden [attr.data-test]="'number-'+number">
                      {{ number }}
                    </button>
                    <button mat-button class="btn-large" *ngIf=hidden data-test="hidden-number"></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="number">Znajdź liczbę: <span data-test="find-number-text">{{getNumberToFind()}}</span></div>
        <div class="points">Zdobyte punkty: <span data-test="points-text">{{ points }}</span></div>
          <div class="timer points">Czas: <span data-test="time-text">{{timerService.displayTime()}}</span></div>
      </div>
      <div class="row">
        <button class="btn-small btn-finding" (click)=startOrPause() data-test="button-start-test">{{buttonActionName}}</button>
        <button class="btn-small btn-finding" (click)=reset() data-test="button-reset-time">Zresetuj</button>
        <button class="btn-small btn-finding" (click)=goBack() data-test="button-go-back">Powrót</button>
        <button class="btn-small btn-finding" (click)="saveResult()" *ngIf=loggedIn() [disabled]="!finished || saved" data-test="button-save-result">Zapisz wynik</button>
      </div>
    </div>
  </div>