<div>
    <nav class="breadcrumb-background">
        <div class="">
          <div class="col s12">
            <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
            <a href="/contact" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Kontakt</b></a>
          </div>
        </div>
    </nav>
    <div class="row context-box">
        <div class="row link">
          <div class="font-title">
              Formularz kontaktowy
            </div>
            <form class="col s12" #contactForm="ngForm">
                    <div class="row">
                        <div class="input-field col s5" style="margin-left:28%">
                            <i class="material-icons validate prefix"  style="margin-right:1%" >account_circle</i>
                            <input 
                                id="email"
                                name="email"
                                type="email"
                                class="validate"
                                [(ngModel)]="report.email"
                                #email="ngModel"
                                
                            >
                            <label for="email">Adres e-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5" style="margin-left:28%">
                            <i class="material-icons validate prefix"  style="margin-right:1%" >title</i>
                            <input 
                                id="title"
                                type="text"
                                name="title"
                                class="validate"
                                [(ngModel)]="report.title"
                                #title="ngModel"
                                required
                            />
                            <label for="title">Tytuł</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5" style="margin-left:28%">
                            <i class="material-icons validate prefix"  style="margin-right:1%" >message</i>
                            <textarea 
                                id="message" 
                                name="text"
                                class="materialize-textarea"
                                [(ngModel)]="report.text"
                                #text="ngModel"
                                minlength="5"
                                required
                            >
                            </textarea>

                            <label for="message">Wiadomość</label>
                        </div>
                    </div>
                    
                    <div class="center">
                        <button class="btn-small btn-form" type="submit" [disabled]="!contactForm.valid" (click)="sendReport()">Wyślij</button>
                        <button class="btn-small btn-form" type="reset"> Wyczyść</button>
                    </div>
                    <br>
            </form>
        </div>
    </div>
</div>



