<div>
    <nav class="breadcrumb-background">
        <div class="col s12">
        <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
        <a href="/account" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Moje konto</b></a>
        <a href="/account/signin" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Logowanie</b></a>
        <a href="/account/signin/fotgotpassword" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Przypomnienie hasła</b></a>
        </div>
    </nav>
    <div class="row context-box">
        <div class="row">
            <div class="col s12 font-title">
                {{title}}
            </div>
            <div class=" col s12">
                <mat-horizontal-stepper labelPosition="bottom" linear style="background-color:transparent">
                    <!-- <form #forgotPasswordForm="ngForm"> -->
                    <mat-step label="Adres e-mail" completed="true">
                        <p>Wpisz adres e-mail, na który zostanie wysłany kod weryfikacyjny.</p>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">email</i>
                            <input 
                                id="email" 
                                type="email" 
                                [(ngModel)]="forgotPassword.email"
                                name="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                class="validate input-text"
                                #email="ngModel"
                                required
                                email
                            />
                            <ng-container *ngIf="email.invalid && email.touched">
                                <div class="invalid-data" *ngIf="email.errors?.['required']">
                                    Adres e-mail jest wymagany!
                                </div>
                                <div class="invalid-data" *ngIf="email.errors?.['pattern']">
                                    Adres e-mail jest niepoprawny!
                                </div>
                            </ng-container>
                            <label for="email">Adres e-mail</label>
                            <br>
                            <div class="invalid-data" *ngIf="forgotPasswordFailed" >
                                {{errorResponse}}
                            </div>
                            <button mat-button matStepperNext class="btn-stepper">
                                Dalej
                            </button>
                        </div>
                    </mat-step>
                    <mat-step label="Kod weryfikacyjny" completed="true">
                        <p>Wpisz kod weryfikacyjny, który został wysłany w wiadomości na podany adres e-mail.</p>
                        <div>
                            <div class="input-field col s4">
                                <i class="material-icons prefix validate" >vpn_key</i>
                                <input 
                                    id="code" 
                                    type="text" 
                                    name="code"
                                    class="validate"
                                    [(ngModel)]="verificationCode.code"
                                    class="validate input-text"
                                    minlength="5"
                                    maxlength="5"
                                    pattern="[0-9]+"
                                    #code="ngModel"
                                    required
                                />
                                <ng-container *ngIf="code.invalid && code.touched">
                                    <div class="invalid-data" *ngIf="code.errors?.['required']">
                                        Kod jest wymagany!
                                    </div>
                                    <div class="invalid-data" *ngIf="code.errors?.['minlength']">
                                        Kod musi mieć 5 znaków!
                                    </div>
                                    <div class="invalid-data" *ngIf="code.errors?.['maxlength']">
                                        Kod musi mieć 5 znaków!
                                    </div>
                                    <div class="invalid-data" *ngIf="code.errors?.['pattern']">
                                        Kod musi składać się z samych cyfr!
                                    </div>
                                </ng-container> 
                                <label for="code"> Kod weryfikacyjny</label>
                                <div class="invalid-data" *ngIf="verificationFailed" >
                                    {{errorResponse}}
                                </div>
                                <button mat-button matStepperPrevious class="btn-stepper">
                                    Wróć
                                </button>
                                <button mat-button matStepperNext class="btn-stepper">
                                    Dalej
                                </button>
                            </div>
                        </div>
                    </mat-step>
                    <!-- </form> -->
                    <mat-step label="Nowe hasło" completed="false">
                        <p>Zaloguj się za pomocą hasła wyświetlonego poniżej. Po zalogowaniu, hasło możesz zmienić po wejściu w zakładkę Moje konto -> Edytuj dane -> Hasło.</p>
                        <button mat-button matStepperPrevious class="btn-stepper">
                            Wróć
                        </button>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>
 