p{
    font-size: 15px;
    text-align: justify;
}
.btn-stepper {
    margin: 0 auto;
    margin-right: 10px;
    width: 90px;
    height: 50px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);    
    background-color: var(--btn-pick-course-background-color);
    color: var(--color);
    font-weight: bold;
    margin-top: 12%;
    border-radius: 5px;
    font-size:13px;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
  }
    
  .btn-stepper:hover{
    color: var(--color-a-hover);
    background-color: var(--btn-pick-course-background-color-hover);
  }
  