<div class="bg-color">
    <nav class="breadcrumb-background">
        <div class="col s10">
          <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
          <a href="/writing" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Pisanie</b></a>
        </div>
    </nav>
<div class="row home">
    <h3><b>Wybierz poziom trudności</b></h3>
</div>
<div class="col s10" >

        <mat-radio-group  class="radio-group" [(ngModel)]="chosenLevelName" name="chosenLevel">
            <mat-radio-button class="radio-button"*ngFor="let level of levels" [value]="level.value">{{level.name}}</mat-radio-button>
        </mat-radio-group>
        <div class="btn-position">
            <div>
        <button class="waves-effect waves-ligth btn-2 btn-large" (click)="startTest()">
            Wybierz poziom
          </button>
            </div>
          </div>
</div>


