          <footer class="page-footer footer">
            <div class="footer-copyright">
                <div class="container">
                    <ul class="row">
                        <li><span class="col s3 left" href="#!">  © 2022 Copyright</span> </li> 
                    </ul>
                </div>
                <div class="container footer-font">
                        <ul class="row">
                            <li><a class="col s2 right" href="#!"> Regulamin </a></li>
                            <li><a class="col s2 right" href="#!"> O nas </a></li>
                            <li><a class="col s2 right" href="#!"> Pomoc </a></li>
                        </ul>
                    
                </div>
            </div>
          </footer>
              