          <!-- <footer class="page-footer footer">
            <div class="footer-copyright">
                <div class="container">
                    <ul class="row">
                        <li><span class="col s3 left" href="#!">  © 2022 Copyright</span> </li> 
                    </ul>
                </div>
                <div class="container footer-font">
                        <ul class="row">
                            <li><a class="col s2 right" href="#!"> Regulamin </a></li>
                            <li><a class="col s2 right" href="#!"> O nas </a></li>
                            <li><a class="col s2 right" href="#!"> Pomoc </a></li>
                        </ul>
                    
                </div>
            </div>
          </footer>
               -->

               <footer class="page-footer">
                <div class="container row">
                  <div class="col s12 content-wrap">
                    <div class="col l8 s12">
                      <h5 class="white-text"></h5>
                      <h5 class="white-text"></h5>
                      <p style="padding-left:5%">Aplikacja internetowa do nauki szybkiego czytania, pisania i zapamiętywania.</p>
                    </div>
                    <div class="col l4 s12">
                      <ul class="row" style="text-align:center">
                        <li class="footer-text"><a class="col s4" href="#!" >Pomoc</a></li>
                        <li class="footer-text"><a class="col s4" href="#!">Regulamin</a></li>
                        <li class="footer-text"><a class="col s4" href="#!">O nas</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container" style="text-align:center">
                  © 2023 Copyright
                  </div>
                </div>
              </footer>