/* You can add global styles to this file, and also import other style files */
.active {
    color:white;
}
.grid {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.2);    
    background-color: rgba(92, 170, 215, 0.517);
    color: black;
    border-radius: 10px;
    font-size:20px;
}
a.breadcrumb:before {
    color: rgb(0, 0, 0);
}

.bg-breadcrumb{
    background-color: transparent;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 14%), 0 0px 0px 0px rgb(0 0 0 / 12%), 0 0px 0px 0 rgb(0 0 0 / 20%);
    padding-left: 50px;
    font-style: italic;
}
.breadcrumb{
    font-size: 20px;
    color: black;
}

.ng-invalid.ng-touched:not(form){
    border-bottom: 3px solid red;
}

.invalid-data{
    background-color: transparent;
    color:red;
    font-size: 14px;
    text-decoration: italic;
    float:left;
    margin-left:45px;
    border-color:red;
    text-align: center;
}