<div class="bg-color">
  <nav class="breadcrumb-background">
    <div class="">
      <div class="col s10">
        <a href="/" class="breadcrumb  breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
        <a href="/courses" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Kursy</b></a>
        <a href="/courses/reading" class="breadcrumb  breadcrumb-text" style="padding-top:500px"><b>Czytanie</b></a>
      </div>
    </div>
  </nav>

  <div class="row context-box center">
    <div class="row font-title">
        {{title}}
    </div>
    <div>
      <button mat-fab extended class="btn-reading btn-large" (click)=linkToLevelChoice(SCHULTZ)>
        <span class="btn-hover">
          <!-- <mat-icon>calendar_view_month</mat-icon> -->
          <mat-icon>window</mat-icon>
          <br>
          {{tabSchultz}}
        </span>
      </button>
    </div>
  </div>
</div>