<div class="bg-color">
  <nav class="breadcrumb-background">
    <div class="">
      <div class="col s10">
        <a
          href="/"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Strona główna</b></a
        >
        <a
          href="/memorizing"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Zapamiętywanie</b></a
        >
        <a
          (click)="goBack()"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Wybór poziomu</b></a
        >
        <a
          (click)="reset()"
          class="breadcrumb breadcrumb-text"
          style="padding-top: 500px"
          ><b>Dopasuj obrazki</b></a
        >
      </div>
    </div>
  </nav>
  <div class="row context-box center">
    <div class="font-title">Dopasuj obrazki</div>
    <div class="cards">
      <app-memorizing-card
        *ngFor="let card of cards; let i = index"
        [data]="card"
        (cardClicked)="cardClicked(i)"
      ></app-memorizing-card>
    </div>
    <div class="">
      <span class="points">Zdobyte punkty: {{points}}</span>
    </div>
    <div class="btn-position">
      <button class="btn-small btn-form" (click)="reset()" >Resetuj</button>
      <button class="btn-small btn-form" (click)="goBack()">Powrót</button>
      <button
        class="btn-small btn-form"
        *ngIf="loggedIn()"
        [disabled]=!finished
        (click)="saveResult()"
      >
        Zapisz wynik
      </button>
    </div>
  </div>
</div>
