<div>
    <nav class="breadcrumb-background">
      <div class="">
        <div class="col s12">
          <a href="/" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Strona główna</b></a>
          <a href="/pickcourse" class="breadcrumb breadcrumb-text" style="padding-top:500px"><b>Kursy</b></a>
        </div>
      </div>
    </nav>

    <div class="row context-box">
        <div class="col s12">
            <div class="row">
                <div class="font-title col s12">
                    Wybierz kurs
                </div>
                <div class="col s12 center">
                    <button mat-fab extended routerLink="/reading" class="btn-course btn-large" > 
                        <span class="btn-hover">
                            <!-- <mat-icon>menu_book</mat-icon> -->
                            <mat-icon>auto_stories</mat-icon>
                            <br>
                            Czytanie
                        </span> 
                    </button>

                    <button mat-fab extended routerLink="/writing" class="btn-course btn-large" > 
                        <span class="btn-hover">
                            <mat-icon>keyboard</mat-icon>
                            <br>
                            Pisanie
                        </span> 
                    </button>

                    <button mat-fab extended routerLink="/memorizing" class="btn-course btn-large" > 
                        <span class="btn-hover">
                            <mat-icon>lightbulb_outline</mat-icon>
                            <br>
                            Zapamiętywanie
                        </span> 
                    </button>


            </div>
        </div>
    </div>
        